[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pep8 = "*"
pylint = "*"
autopep8 = "*"
rope = "*"

[packages]
dpo = {path = "."}
psycopg2-binary = "==2.8.2"
SQLAlchemy = "==1.3.3"
alembic = "==1.0.9"
sqlalchemy-redshift = "==0.7.3"

[requires]
python_version = "3.7"
